main:has(#provider-eventsubs) {
    width: 100%;
    max-width: calc(100vw - 4rem);
}

iframe {
    flex: 1;
    background-color: white;
    border: 2px solid var(--bg-dark);
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
}

#provider-eventsubs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.mobile-buttons {
    position: fixed;
    z-index: 5;
    top: calc(100svh - 1rem);
    left: 1rem;
    translate: 0 -100%;

    display: none;
    flex-direction: row;
    gap: 0.5rem;
}

.mobile-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100vh;
    padding: 0.5rem;
    font-size: var(--text-xxs);
    white-space: nowrap;

    background-color: var(--primary);
    color: var(--bg-dark);
    border: 2px solid var(--bg-dark);
}

.mobile-buttons button svg {
    width: var(--text-sm);
    height: var(--text-sm);
}

.eventsubs-provider-box,
.eventsubs-provider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 2rem;
    background-color: var(--text);
    color: var(--bg-dark);
    padding: 0.5rem;

    height: 100vh;
    max-height: calc(100vh - 8rem);
    min-width: 400px;
    flex: 1;
}

.eventsubs-provider-container {
    flex: 0.8;

    flex-direction: row-reverse;
    flex-wrap: wrap;

    background-color: transparent;
    padding: 0;
}

#widget-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 100%;
}

#widget-preview-input-box {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
}

#widget-preview-input {
    font-size: var(--text-xxs);
    width: 100%;
    border: 2px solid var(--bg-dark);
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
}

#widget-preview-input-box svg {
    width: var(--text-xs);
    height: var(--text-xs);
}

#test-events {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    background-color: transparent;
}

#test-data {
    display: none;
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    background-color: var(--text);

    border: 2px solid var(--bg-dark);

    height: fit-content;
    max-height: 80vh;
    overflow-y: auto;
}

#test-data h2,
#test-data h2 span {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#test-data h2 > span {
    position: absolute;
    top: 1rem;
    left: 1rem;

    gap: 0.5rem;
}

#test-data h2 svg {
    width: var(--text-sm);
    height: var(--text-sm);
}

#test-data.open {
    display: flex !important;
}

.event-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;

    animation-timeline: view();
    animation-name: pop;
}

.event-button svg {
    width: var(--text-xs);
    height: var(--text-xs);
    transition: rotate 0.4s ease;
}

.event-button svg:hover {
    rotate: 90deg;
}

#test-event-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 0.25rem 4rem 0.25rem;

    height: 100%;
    width: 100%;
    overflow-y: auto;
}

#activity {
    flex: 0.4;
}

@keyframes pop {
    0%,
    4%,
    96%,
    100% {
        opacity: 0;
        scale: 0.7;
    }
    8%,
    92% {
        opacity: 1;
        scale: 1;
    }
}

#goals button,
.event-button button {
    border-radius: 100vh;
    padding: 0.5rem 1rem;
    font-size: var(--text-xxs);
    white-space: nowrap;

    background-color: var(--primary);
    color: var(--bg-dark);
}

#goals button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.event-button button.primary-button {
    width: 100%;
}

.event-button button.secondary-button {
    padding: 0.5rem;
}

#goals {
    font-size: var(--text-xs);
}

.goals-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.goals-header svg {
    width: var(--text-xxs);
    height: var(--text-xxs);
}

.goals-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow: hidden;
}

.goals-body-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#goals,
.goals-body,
.goals-body-block {
    justify-content: space-between;
    gap: 0.25rem;
}

.goal-block,
.goal-data {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.goal-block,
.goal-subdata {
    --stagger: 0.3s;
    --duration: 1s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 1.5rem;
}

.goal-block:has(input:focus-within) {
    border: 2px solid var(--bg-superdark);
}

.goal-block label {
    flex: 1;
    text-align: left;
    transition: translate 0.1s ease-in-out;
}

.goal-block:has(input:focus-within) label {
    translate: 0.5rem 0;
}

.goal-header,
.goal-subdata-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.goal-subdata {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.goal-block:has(input:focus-within) .goal-subdata {
    max-height: 100vh;
}

.goal-data {
    width: 50%;
}

.goal-subdata-item {
    padding-inline: 1rem;
    justify-content: space-between;
}

.goal-data p {
    flex: 1;
}

.goal-data p:first-child {
    text-align: left;
}

.goal-data input {
    width: 6rem;
    background-color: var(--bg-dark);
    color: var(--text);
    font-size: inherit;
    border-radius: 100vh;
    padding: 0.25rem 0.5rem;
}

#goals button {
    background-color: var(--bg-dark);
    color: var(--text);
}

#activity-log {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: visible;
}

#goals ::-webkit-scrollbar,
#activity-log::-webkit-scrollbar {
    display: none;
}

.data-form,
.activity-log-entry {
    display: block;
    font-size: var(--text-xxs);
    text-align: left;

    width: 100%;
    padding: 0.5rem;
    border: 2px solid var(--bg-dark);
    border-radius: 1.5rem;
    overflow: visible;

    opacity: 0;
    animation-name: fade-in, slide-in;
    animation-delay: 0.2s, 0s;
    animation-duration: 0.4s, 0.4s;
    animation-timing-function: ease, ease;
    animation-fill-mode: forwards, forwards;
}

.data-form {
    border: none;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1rem;
}

.data-form .data-form {
    margin-top: 1rem;
}

.data-form label:not(:has(+ div > input)) {
    width: 1rem;
}

.data-form-item {
    display: contents;
}

.data-form input {
    background-color: var(--bg-dark);
    color: var(--text);
    font-size: inherit;
    border-radius: 100vh;
    padding: 0.25rem 0.5rem;
    width: 100%;
}

.modal::-webkit-scrollbar-track {
    margin: 2rem;
    background-color: transparent;
}

@keyframes slide-in {
    from {
        margin-bottom: -2rem;
        translate: -2rem 0;
    }
    to {
        margin-bottom: 0;
        translate: 0 0;
    }
}

.activity-log-entry:hover {
    cursor: pointer;
}

.activity-log-entry .expand-button {
    position: absolute;
    top: 0;
    right: 0.25rem;
    translate: 0 -100%;
}

.activity-log-entry svg {
    width: var(--text-xxs);
    height: var(--text-xxs);
}

.activity-log-entry-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.data-form-item,
.activity-data-block {
    margin-left: 1rem;
}

.activity-data-block {
    position: relative;

    height: 100%;
}

.activity-data-content {
    display: block;
    height: 100%;
    max-height: 50rem;
    padding-top: 0;
    transition:
        max-height 0.4s ease-in-out,
        padding-top 0.2s ease-in-out;
    overflow: hidden;
}

.activity-data-content:first-child.expanded {
    padding-top: 0.5rem;
}

.activity-data-content.collapsed {
    max-height: 0rem;
}

@media (max-width: 1680px) {
    .eventsubs-provider-container .eventsubs-provider-box {
        /* height of a normal box, plus the padding, divided by 2 (two children) minus the gap*/
        height: calc((100vh - 8rem + 2rem) / 2 - 1rem);
    }
}

@media (max-width: 1240px) {
    main:has(#provider-eventsubs) {
        width: 100%;
        max-width: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    #footer {
        margin-top: 0rem;
    }

    .mobile-only {
        display: flex;
    }

    #provider-eventsubs {
        position: relative;
        gap: 0;
        flex-direction: column;
    }

    .eventsubs-provider-box {
        border-radius: 0;
    }

    .modal {
        --border-width: 2px;
        position: fixed;
        z-index: 4 !important;
        top: 0;
        left: 0;
        translate: -100% 0;

        width: calc(100% + var(--border-width));
        height: 100%;
        min-height: 100vh;
        border-radius: 0;
        padding: 10rem 1rem;
        box-sizing: border-box;

        border-right: var(--border-width) solid var(--bg-dark);

        background-color: var(--text) !important;

        transition: translate 0.2s ease-in-out;
    }

    .modal.open {
        translate: 0 0;
    }

    .eventsubs-provider-box#widget-preview {
        z-index: 3 !important;
        display: flex !important;
        position: relative;
        min-height: 80vh !important;
        padding: 2rem 1rem;
    }

    #test-event-buttons {
        padding: 4rem 0.25rem 4rem 0.25rem;
    }

    .event-button button {
        background-color: var(--bg-dark);
        color: var(--text);
    }
}
