#eventsubs-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: var(--text-xs);
}

#provider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    padding: 1rem;
    background-color: var(--bg-superdark);
    border-radius: 100vh;
}

.provider-button-wrapper {
    width: fit-content;
    padding: 0;
    background-color: none;
}
