@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------- baseline styles ----------------- */

:root {
    --bg: theme('colors.bg');
    --bg-dark: theme('colors.bg-dark');
    --bg-superdark: theme('colors.bg-superdark');
    --text: theme('colors.text');
    --primary: theme('colors.primary');

    --text-xxs: 1rem;
    --text-xs: 1.25rem;
    --text-sm: 1.5rem;
    --text-md: 1.75rem;
    --text-lg: 2rem;
    --text-xl: 3rem;
    --text-logo: 8rem;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: mini-wakuwaku;
    src: url('/fonts/mini-wakuwaku-maru.otf');
}

@font-face {
    font-family: Outfit;
    src: url('/fonts/Outfit.ttf');
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100lvh;

    color: var(--text);
    background-color: var(--bg-dark);
    background-blend-mode: multiply;
    background-image: url('/images/pattern.png');
    background-repeat: repeat;
    background-size: 240px;

    font-family: mini-wakuwaku, sans-serif;
    letter-spacing: -0.05em;
    font-size: var(--text-sm);
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    width: 60%;
    text-align: center;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 2rem;
}

.icon svg {
    width: var(--text-md);
    height: var(--text-md);
}

.abn-sym {
    font-family: Outfit;
}

/* ----------------- scrollbar styles ----------------- */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg);
    border-radius: 10px;
}

/* ----------------- input styles ----------------- */
input {
    background-color: transparent;
    border: 2px solid var(--text);
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
    color: var(--bg-dark);
    font-size: var(--text-sm);
}

/* ----------------- navbar ----------------- */

#navbar {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;

    font-size: var(--text-sm);
    color: var(--bg-dark);
    background-color: var(--primary);
    padding: 0.25rem 0;
}

#navbar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

#navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    max-width: 1280px;
    margin: 0 auto;
}

.navbar-block {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#navbar a {
    transition: color 0.3s ease;
}

#navbar a:hover {
    color: var(--bg);
}

.lg-hide {
    display: none;
}

.sm-hide {
    display: block;
}

/* ----------------- hamburger ----------------- */
.hamburger {
    display: block;
    position: relative;
    z-index: 2;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 56px;
    height: 8px;
    margin-bottom: 8px;
    position: relative;
    background-color: var(--nav);
    border-radius: 6px;
    z-index: 2;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger.isactive span:nth-child(1) {
    transform: translate(0px, -3px) rotate(45deg);
}

.hamburger.isactive span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.isactive span:nth-child(3) {
    transform: translate(-4px, 7px) rotate(-45deg);
}

.hamburger.isactive:hover span {
    background-color: var(--accent);
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition:
        stroke-dasharray 400ms,
        stroke-dashoffset 400ms;
    stroke: var(--bg-dark);
    stroke-width: 6;
    stroke-linecap: round;
}

.ham6 .top {
    stroke-dasharray: 40 172;
}

.ham6 .middle {
    stroke-dasharray: 40 111;
}

.ham6 .bottom {
    stroke-dasharray: 40 172;
}

.ham6.active .top {
    stroke-dashoffset: -132px;
}

.ham6.active .middle {
    stroke-dashoffset: -71px;
}

.ham6.active .bottom {
    stroke-dashoffset: -132px;
}

/* ----------------- footer ----------------- */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-dark);
    border-top: 2px solid var(--bg);
    font-size: var(--text-xxs);
    min-height: 10rem;
    margin-top: 4rem;
}

#footer svg {
    width: var(--text-xs);
    height: var(--text-xs);
}

#footer-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 60%;
    max-width: 640px;
    margin: 0 auto;
}

#footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

/* ----------------- logo ----------------- */

.char {
    display: inline-block;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: var(--text-logo);
    color: var(--text);
    letter-spacing: -0.08em;
    margin-bottom: 1rem;
}

.logo svg {
    width: calc(var(--text-logo) * 2);
    height: calc(var(--text-logo) * 2 * 136 / 345);
}

.logo-text {
    line-height: 1;
}

/* ----------------- global components ----------------- */
/* ----------------- classname components ----------------- */
.shadow {
    transition:
        translate,
        box-shadow,
        0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.card {
    padding: 8px;
    border-radius: 24px;
    border: 2px solid var(--primary);
    background-color: var(--bg-dark);
}

.card:hover {
    translate: 0 -4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* ----------------- text bubble ----------------- */
.text-bubble {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: var(--text);
    color: var(--bg-dark);
}

/* ----------------- provider button ----------------- */
.provider-button {
    position: relative;
    color: var(--text);
    margin: 0.5rem;
}

.provider-badge-loading,
.provider-icon svg {
    position: relative;
    z-index: 1;

    width: var(--text-sm);
    height: var(--text-sm);
}

.provider-badge {
    color: var(--provider-color);
}

.provider-badge-inactive,
.provider-badge svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

    width: var(--text-xl);
    height: var(--text-xl);

    animation: pop-in 0.3s ease forwards;
}

.provider-badge-inactive {
    border-radius: 100vh;
    background-color: var(--provider-color);
}

@keyframes pop-in {
    from {
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

/* ----------------- orbt-id ----------------- */
.orbt-id-container {
    --color-dark: var(--bg-dark);
    --color-light: var(--primary);
    --color-text: var(--text);

    --orbt-id-text-sm: var(--text-xxs);
    --orbt-id-text-lg: var(--text-xs);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 380px;
    color: var(--color-dark);
}

.orbt-id-container.light {
    --color-dark: var(--text);
    --color-light: var(--bg-dark);
    --color-text: var(--bg-dark);
}

.orbt-id-container.compact {
    --orbt-id-text-sm: var(--text-xxs);
    --orbt-id-text-lg: var(--text-xs);
}

.orbt-id-container svg {
    width: var(--orbt-id-text-lg);
    height: var(--orbt-id-text-lg);
}

.orbt-id-container p {
    font-size: var(--orbt-id-text-sm);
    color: var(--color-text);
}

.orbt-id-container.compact p {
    display: none;
}

.orbt-id-box {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.25rem 0.5rem;
    border-radius: 100vh;

    font-size: var(--orbt-id-text-lg);
    color: var(--color-dark);
    background-color: var(--color-light);
    border: 6px solid var(--color-dark);
    outline: 2px solid var(--color-light);

    white-space: nowrap;
}

.orbt-id-box .orbt-id {
    color: var(--color-text);
    background-color: var(--color-dark);
    padding: 0.25rem 0.5rem;
    height: 1.5rem;
    line-height: 1rem;
    border-radius: 100vh;
    letter-spacing: 0.1em;
}

.orbt-id-box .orbt-id.hide {
    font-size: var(--orbt-id-text-sm);
}

@media (max-width: 640px) {
    :root {
        --text-xxs: 0.725rem;
        --text-xs: 0.875rem;
        --text-sm: 1.125rem;
        --text-md: 1.25rem;
        --text-lg: 1.375rem;
        --text-xl: 1.5rem;
        --text-logo: 3rem;
    }

    main {
        width: 95%;
    }

    #navbar-links,
    .navbar-block {
        flex-direction: column;
    }

    .navbar-block {
        gap: 0;
    }

    .navbar-block a {
        margin-top: 0.5rem;
    }

    #navbar-links {
        position: absolute;
        z-index: -1;

        padding: 24px 0px;
        width: 100%;
        left: 0;
        top: 0;
        translate: 0 -100%;

        background-color: var(--primary);
        border-bottom: 2px solid var(--bg);

        transition: translate 0.3s ease;
    }

    #navbar-links.open {
        translate: 0 0;
    }

    .lg-hide {
        display: block;
    }

    .sm-hide {
        display: none;
    }

    .logo {
        gap: 0.5rem;
    }

    #footer-box {
        width: 80%;
        flex-direction: column;
    }
}
