#icons-page {
    --size: 2rem;

    width: 100%;
}

#icons-page header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;
}

#icons-page header input {
    width: 100%;
    max-width: 400px;
}

#icons-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
    gap: calc(var(--size) * 1.5);

    width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--size);
    height: var(--size);
    box-sizing: content-box;

    border-radius: 100vh;
}

.icon-item {
    --stagger: 0.2s;
    --duration: 0.8s;
}