#orbt-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#orbt-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.orbt-subheader {
    font-size: var(--text-lg);
}

#feature-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    max-width: 1200px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: fit-content;
    font-size: var(--text-xxs);

    opacity: 0;
    animation: fadeIn 0.4s ease-in-out forwards;
    animation-delay: calc(var(--feature-index) * 0.2s + 0.2s);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.feature h3 {
    font-size: var(--text-xs);
    margin-bottom: 0.5rem;
}

.feature-card {
    perspective: 1000px;
    width: 240px;
    height: 240px;
}

.feature-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
}

.feature:hover .feature-card-inner {
    transform: rotateY(180deg);
}

.feature-card-front,
.feature-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-card-front:hover, .feature-card-back:hover {
    translate: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.feature-card-front img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-card-back {
    transform: rotateY(180deg);
    padding: 1rem;
}

.feature-card-back p {
    margin: 0;
    line-height: 1.4;
}
