#provider-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#provider-container h1 {
    font-size: var(--text-lg);
    font-weight: 800;
}

#provider-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    border-radius: 100vh;
    padding: 1rem;
    background-color: var(--primary);
    color: var(--primary);
}